.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;


}
.blogs{
    border: 3px solid purple;
    border-radius: 5px;
    padding: 15px;
}
@media screen and (max-width: 1100px)  {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}